.container{
  width: 1024px;
  margin: 0 auto;
  height: 760px;
  text-align: center;
}

.board{
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: 0 auto;
  border: solid 1px #ccc;
  height: 600px;
}
.buttons{
  display: flex;
  flex-direction: row;
  width: 200px;
  margin: 0 auto;
}

.buttons Button{
  margin-right: 20px;
  margin-top:10px;
}
.board .cell{
  width: 20px;
  height:20px;
  background-color:#eee;
  margin:5px;
  float:left;
}
.board .cell:hover{
  cursor: pointer;
}